extends ../layout
include taskRow
include form

block layout-content
    +form()

    hr

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') title
                th(scope='col') complited
        tbody
            each task, index in tasks
                +taskRow(index + 1, task)
