mixin taskRow(index, task)
    tr(id=task._id)
        th(scope='row')= index
        td
            if task.complited
                s= task.title
            else
                = task.title
        td 
            input.form-check-input(type='checkbox' checked=task.complited)
