block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    script(src="bundle.js")
    base(href='http://localhost:3000/' target='_blank')
    title TODO
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-5
      div.container
        a.navbar-brand(href='#') Todo
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='#')
                | Home 

    div#root.container
      block layout-content
      